# {{ ansible_managed }}

server:
  {{ grafana_server | to_nice_yaml | indent(2) }}

metrics:
  {{ grafana_metrics | to_nice_yaml | indent(2) }}

logs:
  {{ grafana_logs | to_nice_yaml | indent(2) }}

integrations:
  {{ grafana_integrations | to_nice_yaml | indent(2) }}
