# {{ ansible_managed }}

LOG_LEVEL="{{ grafana_log_level }}"

# The configuration file holding the agent config
CONFIG_FILE="{{ grafana_config_file }}"

# Any user defined arguments
CUSTOM_ARGS="{{ grafana_custom_args }}"

# Restart on system upgrade. Default to true
RESTART_ON_UPGRADE={{ grafana_restart_on_upgrade }}
