---
grafana_version: "{{ lookup('arillso.system.github_latest_release', 'grafana/agent')[1:] }}"

grafana_log_level: "info"
grafana_config_file: "/etc/grafana-agent.yaml"
grafana_custom_args: "-server.http.address=127.0.0.1:9090 -server.grpc.address=127.0.0.1:9091"
grafana_restart_on_upgrade: "true"

grafana_server:
  log_level: warn

grafana_metrics:
  global:
    scrape_interval: 1m
  configs:
    - name: integrations

grafana_integrations:
  agent:
    enabled: true

grafana_logs:
  positions_directory: "C:\\ProgramData\\grafana-agent-logs"
